
target/

# Rust/Cargo
**/Cargo.lock
**/Cargo.toml.orig
**/target/
**/.cargo/
**/.rustup/
**/.idea/
**/.vscode/
**/*.rs.bk

# Byproducts
*.rlib
*.dSYM/
*.exe
*.dll
*.so
*.dylib

# Misc
.DS_Store
*.log